<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 指定Android9.0 http协议支持 -->
    <application
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>